@mixin setFont ($typeface, $size, $weight){
    font-family: $typeface;
    font-size: $size;
    font-weight: $weight;
}


@mixin setFlex($flexType,$justifyType, $alignType, $direction)  {
    display: $flexType;
    align-items: $alignType;
    justify-content: $justifyType;
    flex-direction:$direction;
}


@mixin  setProbarChild($bgVal, $colorVal, $chartTrans, $timeBg){
                    background-color: $bgVal;
                    color: $colorVal;

                        .chart{
                            svg{
                              transform: $chartTrans;
                            }

                            .time-area{
                                &::before{
                                    background-color: $timeBg;
                                }
                            }
                        }
}