// Custom variables for the font and color schemes

$background-white: #e8e6e6;

$background-black: #06080ae7;

$lighter-grey: #d4d4d4;

$darker-grey: #a0a0a0;

$secondary-text: rgb(84, 22, 136);

$primary-text1: #505051;

$primary-text: #fc6b18;

$dark-blue: #013179;

$normal-green: #0ec25fcc;

$light-green: #349652;

$off-blue: #0f679bcc;

$main-font: 'Kumbh Sans', sans-serif;



