// Custom variables for the font and color schemes

$background-white: #f7ebeb;

$lighter-grey: #d4d4d4;

$darker-grey: #a0a0a0;

$secondary-text: rgb(84, 22, 136);

$primary-text: #fc6b18;

$dark-blue: #013179;

$normal-green: #0ec25fcc;

$light-green: #349652;

$off-blue: #0f679bcc;

$main-font: 'Kumbh Sans', sans-serif;



