@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import 'variables.scss';
@import 'mixins.scss';

html{
    font-size: 16px;
}

body{
    background-color: $background-white;
    font-family: $main-font;
}

.wrap{
    display: flex;

    .side-nav{
         width: 110px;
         border-right: 2px solid $lighter-grey;

         .logo{
            margin-bottom: 6em;
            padding: 0.5em 0;
           padding-left: 0.2em;
           background-color: #fff;
    
    
        img{
            height: 1em;
            margin: 0 auto;
            
        }
    
        }

        .menu{
            ul{
                li{
                     margin-bottom: 4em;
                     
                     a{
                         display: block;
                         position: relative;
    
                         img{
                             height: 1.5em;
                             margin: 0 auto;
                             filter: grayscale(1);
                         }
    
                         .stroke{
                            height: 1.7em;
                            width: 3px;
                            border-radius: 6px;
                            background-color: $dark-blue;
                            position: absolute;
                            right: 0%;
                            top: 0%;
                            overflow: hidden;
                            display: none;
                
                            .half{
                            display: block;
                            height: 50%;
                            width: inherit;
                            background-color: $normal-green;
                            position: absolute;
                            bottom: 0;
                            }
                        }
                     }
    
                     &:hover{
    
                        img{
                            filter: grayscale(0);
                        }
    
                     }
                 
                     &.active{
                         a{
                             img{
                                 filter: grayscale(0);
                             }
    
                             .stroke{
                                 display: block;
                             }
                         }
                     }
                }
            }
    
           
        }
    }

    .content{

        width: 100%;

        .main{
            height: 100vh;
           padding: 2.5em 3em 0 3em;
           border-right: 2px solid $lighter-grey;

           header{

               .title{
                   

                   h1{
                    @include setFont ($main-font,2.55em,600);
                    text-transform: capitalize;
                    color: $secondary-text;
                    line-height: 1em;
                   }
                
                span{
                    @include setFont ($main-font, 1em, 500);
                    display: block;
                    color: $primary-text1;
                    margin-top: .11em;
                }

               }

               .search-bar{
                   .group{
                       position: relative;

                       img{ 
                        height: 1.35em;
                        display: inline-block;
                        position: absolute;
                        left: 20px;
                        top:50% ;
                        transform: translate(0, -50%);
                       }

                       input{
                        display: block;
                        padding: 14px 50px 14px 54px;
                        border-radius: 50px;
                        width: 100%;
                        outline: none;
                        background: linear-gradient(90deg, #b4cff7);
                       }
                   }
               }
           }

           .dashboard-area{

            margin-top:3em;

               .productivity-listing{
                   .productivity-bar{
                       background-color: $light-green ;
                       padding: .95em;
                       color: $secondary-text;
                       margin-bottom: 1.2em;
                       @include setFlex(flex, space-between, center, row) ;
                       box-sizing: border-box;
                       border-radius: 1em;
                       box-shadow: 0 6px 10px rgb(1 86 91 / 5%);
                   }
               }
           }
        }

        .profile{
           
        }
    }

 

}

