@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import 'variables.scss';
@import 'mixins.scss';

html{
    font-size: 16px;
}

body{
    background-color: $background-black;
    font-family: $main-font;
}

.wrap{
    display: flex;

    .side-nav{
         width: 110px;
         border-right: 2px solid $lighter-grey;

         .logo{
            margin-bottom: 6em;
            padding: 0.5em 0;
           padding-left: 0.2em;
           background-color: #fff;
    
    
        img{
            height: 1em;
            margin: 0 auto;
            
        }
    
        }
    }

    .menu{
        ul{
            li{
                 margin-bottom: 3.6em;
                 
                 a{
                     display: block;
                     position: relative;

                     img{
                         height: 1.7em;
                         margin: 0 auto;
                         filter: grayscale(1);
                     }

                     .stroke{
                        height: 1.7em;
                        width: 3px;
                        border-radius: 6px;
                        background-color: $dark-blue;
                        position: absolute;
                        right: 0%;
                        top: 0%;
                        overflow: hidden;
                        display: none;
            
                        .half{
                        display: block;
                        height: 50%;
                        width: inherit;
                        background-color: $normal-green;
                        position: absolute;
                        bottom: 0;
                        }
                    }
                 }
             
                 &.active{
                     a{
                         img{
                             filter: grayscale(0  )
                         }

                         .stroke{
                             display: block;
                         }
                     }
                 }
            }
        }

       
    }

}

