@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import 'variables.scss';
@import 'mixins.scss';

html{
    font-size: 16px;
}

body{
    background-color: $background-white;
    font-family: $main-font;
}

.wrap{
    display: flex;

    .side-nav{
         width: 110px;
         border-right: 2px solid $lighter-grey;
    }
}

